<!-- Menu Toolbar-->

<p-toolbar>
    <div class="ui-toolbar-group-left">
        <button type="button" pButton icon="fa-plus" style="float:left" (click)="showForm()" label="New Menu"></button>
    </div>
</p-toolbar>

<!-- Menu Tree-->
<p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu>


<!-- Menu Form -->

<p-dialog header="New Menu" [(visible)]="visibleForm" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="menu">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="parentMenuId">Parent Menu</label></div>
            <div class="ui-grid-col-8"><input pInputText id="parentMenuId" [(ngModel)]="menu.parentMenuId" /></div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="label">Menu Adı</label></div>
            <div class="ui-grid-col-8"><input pInputText id="label" [(ngModel)]="menu.label" /></div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="folder">Folder</label></div>
            <div class="ui-grid-col-8"><p-checkbox [(ngModel)]="menu.folder" id="folder" binary="true"></p-checkbox></div>
            
        </div>  

        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="select">Select</label></div>
            <div class="ui-grid-col-8"><textarea pInputTextarea id="select" [(ngModel)]="menu.select"></textarea></div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="from">From</label></div>
            <div class="ui-grid-col-8"><textarea pInputTextarea  id="from" [(ngModel)]="menu.from"></textarea></div>
        </div>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="where">Where</label></div>
            <div class="ui-grid-col-8"><textarea pInputTextarea id="where" [(ngModel)]="menu.where"></textarea></div>
        </div>        
    </div>

    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>